* {
	margin: 0;
	padding: 0;
	border: 0;
}

*::selection {
  background: #6fdcd8;
  color: white;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #0d0d0d;
  font-size: 1.25rem;
}

h1 {
	font-size: 1.75rem;
}

.active {
	font-weight: bold;
	text-decoration: overline;
}

/*----------START HAMBURGER MENU------------------*/

.desktop-menu {
  display: none;
}

#menuToggle {
  display: block;
  margin-top: 5%;
  position: relative;
  top: 5%;
  left: 5%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  font-weight: bold;
  text-decoration: overline;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
/*----------END HAMBURGER MENU--------------------*/

/*----------START STICKY FOOTER--------------------*/

body {
  display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
  flex: 1;
	padding-top: 25vh;
}

/*----------END STICKY FOOTER----------------------*/

/*------------------------------------------------

HEADER STYLING

-------------------------------------------------*/

header {
  text-align: center;
  height: 20vh;
	min-height: 150px;
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

header img {
  width: 90vw;
  max-width: 300px;
}

/*------------------------------------------------

FOOTER STYLING

-------------------------------------------------*/

footer {
  background-color: #6fdcd8;
  position: relative;
}

.desktop-footer {
	display: none;
}

.mobile-footer {
  display: flex;
  justify-content: space-between;
  width: 90vw;
	height: 350px;
	padding: 5%;
}

.mobile-footer nav {
    margin-left: 10%;
}

footer nav a {
  text-decoration: none;
  color: #0d0d0d;
}

footer nav a:hover {
  text-decoration: overline;
}

footer nav ul {
  list-style-type: none;
}

.mobile-footer nav ul li {
  padding: 20% 0 20% 0;
  display: block;
}

.mobile-footer .socials {
  margin-right: 15%;
}

.socials h3 {
	display: none;
}

.mobile-footer .socials img {
  display: block;
  padding: 15% 0 15% 0;
  width: 45px;
}

#copyright {
  position: absolute;
  bottom: 5%;
	left: 5%;
}

/*------------------------------------------------

index.html STYLING

-------------------------------------------------*/

.hero {
  background: url(../images/hero-image2.jpg) center;
  background-size: cover;
  height: 70vh;
}

.hero h1 {
	display: none;
}

#home-header {
	display: none;
}

.index-articles {
	display: flex;
	flex-wrap: wrap;
	margin: 20% auto;
	max-width: 900px;
	}

.index-content article {
	width: 250px;
	text-align: center;
	margin: 2% auto;
	padding: 3%;
	border-top: solid 3px lightgray;
}

.index-content a {
  text-decoration: none;
  color: #0d0d0d;
}

.index-content a:hover {
  text-decoration: underline;
  color: #6fdcd8;
}

.index-content article img {
	width: 100%;
	max-width: 250px;
}

.index-content aside {
	margin: 10% auto;
	padding: 3%;
  text-align: center;
}

.index-content aside img {
	width: 100%;
	max-width: 400px;
	margin: auto;
}

.etsy-slider {
	padding-top: 5%;
	z-index: -1;
	margin: auto;
}

/*------------------------------------------------

about.html STYLING

-------------------------------------------------*/

.about-content {
  text-align: left;
  padding: 10% 15% 10% 15%;
}

.about-content h1 {
	display: none;
}

.about-content article figure {
	text-align: center;
	margin-bottom: 5%;
}

.about-content article figure img {
	width: 90%;
	max-width: 230px;
}

.about-content article h2 {
	margin: 15% 0 5% 0;
	margin-top: 20%;
}

.about-content a {
	color: #0d0d0d;
	text-decoration: none;
}

.about-content a:hover {
	text-decoration: underline;
}

/*------------------------------------------------

resume.html STYLING

-------------------------------------------------*/

.resume-container {
	margin: auto;
	max-width: 800px;
}

.resume {
	padding: 10% 15% 10% 15%;
}

.resume-container h1 {
	font-size: 2.5rem;
	text-align: center;
	margin-top: 4%;
}

.resume article {
	margin: 8% 0 2% 0;
}

.resume h2 {
	padding: 2%;
	background-color: #6fdcd8;
	margin-bottom: 2%;
}

.resume-container h3 {
	padding: 2% 0 0 4%;
}

.resume-container h4 {
	padding: 2% 0 0 8%;
	font-style: italic;
}

.resume-container h4:before {
	content: "• "
}

.resume-container p {
	padding: 2% 0 0 12%;
}

.resume-container p:before {
  content: "» ";
}

.experience a {
	color: black;
}

.skills {
	color: white;
	background-color: #808080;
	max-width: 640px;
	margin: auto;
	margin-bottom: 4%;
}

.skills-text {
	padding: 2% 0 2% 4%;
}

/*------------------------------------------------

resume.html STYLING

-------------------------------------------------*/

.contact {
	text-align: center;
	background-color: #808080;
	width: 100%;
	max-width: 500px;
	color: white;
	margin: 10% auto;
	padding: 5% 0 5% 0;
	border-radius: 4px;
	box-shadow: 5px 5px 10px darkgray;
}

.label-input {
	display: block;
}

.input {
	padding: 4%;
}

input,
textarea {
  padding: 4%;
  border-radius: 4px;
  font-family: sans-serif;
  background-color: white;
  text-align: center;
}

textarea {
	width: 90%;
	max-width: 400px;
}

.submit input:hover {
  color: white;
  background-color: #6fdcd8;
  transition: .2s;
}

/*------------------------------------------------

travel.html STYLING

-------------------------------------------------*/

.gallery {
	text-align: center;
	max-width: 1000px;
	margin: 10% auto;
}

.gallery h1 {
	margin-bottom: 10%;
}

.gallery h2 {
	color: black;
	overflow: hidden;
	margin: 2% auto;
}

.gallery h2:before,
.gallery h2:after {
  background-color: black;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
	z-index: -1;
}

.gallery h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.gallery h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.individual-gallery-image {
  width: 100%;
  max-width: 300px;
  padding: 2%;
}

.photo-container {
	display: flex;
	flex-wrap: wrap;
}

 .individual-gallery-image:hover {
   opacity: 50%;
 }

.lb-caption {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5rem;
}

.lb-number {
  font-family: 'Nunito Sans', sans-serif;
}


/*-------------START 450px MEDIA QUERY-----------------*/

@media (min-width: 450px) {

	/* --- index.html STYLING --- */

	.index-articles {
		margin: 10% auto 5%;
		}

	.index-content aside {
		margin: 5% 10% 10%;
	}

	/* --- resume.html STYLING --- */

	.resume article {
		margin: 0 0 2% 0;
	}

	/* --- contact.html STYLING --- */

	.input {
		padding: 2%;
	}
}

/*-------------END 450px MEDIA QUERY-----------------*/

/*-------------START 600px MEDIA QUERY-----------------*/

@media (min-width: 600px) {

	/* --- HEADER STYLING --- */

	header {
		height: 25vh;
		padding-top: 5%;
		min-height: 180px;
	}

	.menu {
		display: none;
	}

	.desktop-menu {
		display: block;
		margin-top: 5%;
	}

	.desktop-menu ul li {
		padding: 3%;
		display: inline;
	}

	.desktop-menu a {
		text-decoration: none;
		color: #0d0d0d;
	}

	.desktop-menu a:hover {
		text-decoration: overline;
	}

	/* --- FOOTER STYLING --- */

	.mobile-footer {
		display: none;
	}

	.desktop-footer {
		display: block;
		text-align: center;
		height: 25vh;
	}

	.desktop-footer nav {
		margin-top: 10%;
	}

	.desktop-footer nav ul li{
		display: inline;
		padding: 3%;
	}

	.desktop-footer .socials img {
		width: 45px;
		margin-top: 8%;
		padding: 0 1.5% 0 1.5%;
	}

	.desktop-footer .socials img:hover {
		-webkit-transform: scale(1.1) rotate(4deg);
		transform: scale(1.1) rotate(4deg);
	}

	/* --- BODY STYLING --- */

	body {
		font-size: 1rem;
	}

	/* --- index.html STYLING --- */


	.index-articles {
		margin-bottom: 0;
	}

	.index-content aside {
		margin: 5% auto;
	}

	/* --- aboutme.html STYLING --- */

	.about-content {
		padding: 4% 10% 8% 10%;
		max-width: 500px;
		margin: auto;
	}

	.about-content article h2 {
    margin: 8% 0 3% 0;;
	}

	.about-image {
		height: 40vh;
	}

	.about-image figure {
		float: left;
		padding-right: 5%;
	}
}

	/* --- resume.html STYLING --- */

	.resume-container h1 {
		margin-top: 10%;
	}

	.resume {
	  padding: 5% 10% 5% 10%;
	}


/*-------------END 600px MEDIA QUERY-------------------*/

/*-------------START 750px MEDIA QUERY-----------------*/

@media (min-width: 750px) {

	/* --- FOOTER STYLING --- */

	.desktop-footer {
		height: 20vh;
	}

	.desktop-footer nav {
		margin-top: 5%;
	}

	.desktop-footer .socials img {
		margin-top: 5%;
	}

	/* --- index.html STYLING --- */

	.index-content article {
		width: 200px;
		padding: 2%;
	}

	/* --- about.html STYLING --- */

	.about-content article h2 {
		margin: 5% 0 3% 0;;
	}

	/* --- resume.html STYLING --- */

	.resume {
    padding: 7% 10% 7% 10%;
	}

	.resume-container h1 {
  	margin-top: 5%;
	}

	/* --- travel.html STYLING --- */

	.gallery h1 {
    margin-bottom: 5%;
	}

}

/*-------------END 750px MEDIA QUERY-----------------*/

/*-------------START 850px MEDIA QUERY-----------------*/

@media (min-width: 850px) {

	/* --- index.html STYLING --- */

	.index-content aside {
		margin: 2% auto;
	}

	.about-image figure {
		padding-right: 3%;
	}

	/* --- resume.html STYLING --- */

	.resume {
    padding: 4% 10% 4% 10%;
	}
}

/*-------------END 850px MEDIA QUERY-----------------*/

/*-------------START 1000px MEDIA QUERY-----------------*/

@media (min-width: 1000px) {

	/* Header Styling */

	header {
		height: 20vh;
		padding-top: 3%;
	}

	.desktop-menu {
		margin-top: 2%;
	}

	/* index.html Styling */

	.index-articles {
		margin-top: 6%;
	}

	/* aboutme.html Styling */

	.about-content {
		padding: 2% 10% 8% 10%;
	}

	/* contact.html Styling */

	.contact {
		margin: 5% auto;
		padding: 2% 0 2% 0;
	}

	/* travel.html Styling */

	.gallery {
		margin: 4% auto;
	}

	.individual-gallery-image {
		padding: 1%;
	}
}

/*-------------START 1150px MEDIA QUERY-----------------*/

@media (min-width: 1150px) {

	.desktop-footer nav,
	.desktop-footer .socials img {
		margin-top: 3%;
	}
}
/*-------------END 1150px MEDIA QUERY-----------------*/
